:root {
  --navbar-w: 0px;
  --topbar-h: 56px;
  --sidebar-actual-w: 0px;
}

.main-layout {
  display: grid;
  position: relative;
  grid-template-rows: var(--topbar-h) calc(100% - var(--topbar-h));
  grid-template-columns: minmax(0, 1fr) var(--sidebar-actual-w, 0px);
  grid-template-areas:
    't t'
    'c s';
  transition: grid-template-columns 400ms cubic-bezier(0.16, 1, 0.3, 1);

  &.full {
    --sidebar-actual-w: 0px;
  }

  &.is-resizing {
    transition: none !important;
    user-select: none !important;
    cursor: col-resize !important;
  }

  @screen nsm {
    --right-section-w: 40%;
  }

  @screen sm {
    --right-section-w: 36%;
  }

  @screen md {
    --right-section-w: 30%;
  }

  @screen lg {
    --right-section-w: 25%;
  }

  @screen xl {
    --right-section-w: 22%;
  }

  @screen mobile {
    --checklist-h: 30px;

    &.checklist-ok {
      --checklist-h: 0px;
    }

    &.full {
      grid-template:
        't' var(--topbar-h)
        'l' var(--checklist-h)
        'b' var(--toolbar-h)
        'c' calc(
          100% - var(--topbar-h) - var(--checklist-h) - var(--toolbar-h) - var(
              --navbar-h
            )
        )
        'n' calc(var(--navbar-h))
        / 100%;
    }

    grid-template:
      't' var(--topbar-h)
      'c' calc(100% - var(--topbar-h) - var(--navbar-h))
      'n' calc(var(--navbar-h))
      / 100%;
  }
}
