:root {
  --navbar-w: 0px;
  --topbar-h: 42px;
}

.main-layout {
  display: grid;
  position: relative;
  grid-template:
    't' var(--topbar-h)
    'c' calc(100% - var(--topbar-h))
    / 100%;

  &.full {
    grid-template:
      't t' var(--topbar-h)
      'c s' calc(100% - var(--topbar-h))
      / calc(100% - var(--right-section-w))
      var(--right-section-w);
  }

  @screen nsm {
    --right-section-w: 40%;
  }

  @screen sm {
    --right-section-w: 36%;
  }

  @screen md {
    --right-section-w: 30%;
  }

  @screen lg {
    --right-section-w: 25%;
  }

  @screen xl {
    --right-section-w: 22%;
  }

  @screen mobile {
    --checklist-h: 30px;

    &.checklist-ok {
      --checklist-h: 0px;
    }

    &.full {
      grid-template:
        't' var(--topbar-h)
        'l' var(--checklist-h)
        'b' var(--toolbar-h)
        'c' calc(
          100% - var(--topbar-h) - var(--checklist-h) - var(--toolbar-h) - var(
              --navbar-h
            )
        )
        'n' calc(var(--navbar-h))
        / 100%;
    }

    grid-template:
      't' var(--topbar-h)
      'c' calc(100% - var(--topbar-h) - var(--navbar-h))
      'n' calc(var(--navbar-h))
      / 100%;
  }
}
