:root {
  --settings-sidebar-w: 220px;
}

.settings-layout {
  display: grid;
  position: relative;
  grid-template:
    't t' var(--topbar-h)
    's c' calc(100% - var(--topbar-h))
    / var(--settings-sidebar-w) calc(100% - var(--settings-sidebar-w));

  @screen lg {
    --settings-sidebar-w: 260px;
  }

  @screen mobile {
    grid-template:
      't' var(--topbar-h)
      'c' calc(100% - var(--topbar-h))
      / 100%;
  }
}
